@import 'src/app/styles/variables';

.message{
  $self: &;
  display: flex;
  max-width: 500px;
  margin-bottom: 20px;

  &-avatar{
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 33px;
      height: 33px;
      border-radius: 50px;
      margin-right: 13px;
      margin-bottom: 23px;
    }
  }

  &-bubble{
    background-color: $dark;
    text-align: left;
    box-shadow: 0 5px 5px rgba(0, 26, 65, 0.45);
    border-radius: 12px 12px 12px 0;
    padding: 15px ;
    margin-bottom: 5px;
    color: white;
    .message-audio {
      padding: 0 15px;
    }
  }
  &-bubble.message-audio {
    padding: 0 15px;
  }

  &-time{
    font-size: 12px;
    opacity: 0.5;
  }

  &-text{
    line-height: 20px;
  }

  &-attachments{
    display: flex;
  }

  &-attachments-item{
    margin: 5px 0;
    img{
      width: 45px;
      height: 45px;
      border-radius: 4px;
      margin-right: 5px;
    }
  }

  &-typing-container span{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background: #c1c1c1;
    display: inline-block;
    margin-right: 8px;
    animation-name: typing-animation;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    &:nth-of-type(1){
      animation: typing-animation 1s ease-in-out infinite;
      animation-direction: normal;
    }

    &:nth-of-type(2){
      animation: typing-animation 1s ease-in-out infinite;
      animation-direction: normal;
    }

    &:nth-of-type(3){
      animation: typing-animation 1s ease-in-out infinite;
      animation-direction: normal;
    }
  }


  &-audio{
    position: relative;
    overflow: hidden;

    &-progress{
      position: absolute;
      left: 0;
      width: 40%;
      height: 100%;
      background-color: $blue;
      transition: width 0.5s linear;
    }
    &-info, &-duration{
      z-index: 1;
    }

    &-svg {
      margin: 0 10px;
      img {
        height: 60px;
        width: 100px;
      }
    }
  }



}

.message.message-me{
  flex-direction: row-reverse;
  margin-left: auto;

  .message-content{
    text-align: right;

  }

  .message-checked{
    display: flex;
    flex-direction: column-reverse;
    font-size: 16px;
    margin-bottom: 30px;
    margin-right: 15px;
  }

  .message-bubble{
    background-color: $light-dark;
    border-radius: 12px 12px 0 12px;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
  }

  .message-avatar img{
      margin-left: 13px;
      margin-right: 0;
  }
}

.message.message-typing{
  .message-bubble{
    padding: 10px;
  }
  .message-avatar img{
    margin-bottom: 0;
  }
}

@keyframes typing-animation{
  from{
    opacity: 0;
  }

  to{
    opacity: 1;
  }

}