.block {
    padding: 45px;
    background-color: #fff;
    box-shadow: 0 0 25px rgba($color: #000000, $alpha: 0.043);
    border-radius: 3px;
}


// X-Small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .block{
        padding: 10px;
    }
}

//// Small devices (landscape phones, less than 768px)
//@media (max-width: 767.98px) { ... }
//
//// Medium devices (tablets, less than 992px)
//@media (max-width: 991.98px) { ... }
//
//// Large devices (desktops, less than 1200px)
//@media (max-width: 1199.98px) { ... }
//
//// X-Large devices (large desktops, less than 1400px)
//@media (max-width: 1399.98px) { ... }