@import 'src/app/styles/variables';

.message{
  display: flex;
  max-width: 440px;
  &-avatar{
    display: flex;
    flex-direction: column-reverse;
    img {
      width: 33px;
      height: 33px;
      border-radius: 50px;
      margin-right: 13px;
      margin-bottom: 23px;
    }
  }

  &-bubble{
    background-color: $blue;
    box-shadow: 0 5px 5px rgba(54, 116, 255, 0.2);
    border-radius: 12px 12px 12px 0;
    padding: 15px ;
    margin-bottom: 5px;
  }
  &-time{
    font-size: 12px;
    opacity: 0.5;
  }
  &-text{
    color: white;
    line-height: 20px;
  }
}